<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gsb2016_mission3Entities" connectionString="metadata=res://*/mdlMission3.csdl|res://*/mdlMission3.ssdl|res://*/mdlMission3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;Persist Security Info=True;database=gsb2016_mission3&quot;" providerName="System.Data.EntityClient" />
    <add name="gsb2016_mission3Entities1" connectionString="metadata=res://*/modeleMission3.csdl|res://*/modeleMission3.ssdl|res://*/modeleMission3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;database=gsb2016_mission3;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>